*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@300;400;600;700&display=swap');

:root {
    /* Colores principales */
    --primario: #0A2FF1;
    --variante-primario: #04146C;
    --secundario: #3FFFF3;

    /* Escala de grises */
    --grises-1: #15163D;
    --grises-2: #414166;
    --grises-3: #71718D;
    --grises-4: #9797AE;
    --grises-5: #C5C5CD;
    --grises-6: #EEEEEE;
    --grises-7: #F8F8F8;

    /* Variaciones del primario */
    --vp-1: #3957F1;
    --vp-2: #5974FF;
    --vp-3: #8A9AF1;
    --vp-4: #C9D1FF;
    --vp-5: #EFF2FF;
    --vp-6: #EDF7FF;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle at -221px -324px, #5974FF 38%, white 55%);
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: .5rem .5rem 8rem .1rem var(--grises-6);
    background-color: white;
    z-index: 20;
}

nav {
    margin: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
        width: 100%;
    }
    ul {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
            list-style: none;
            height: max-content;
            margin: auto;
        }
    }
}

main {
    margin: 1.7rem 2.8rem 0;
}

main section:last-child {
    display: none;
} 

h2 {
    font-weight: 700;
    /* font-size: 3.6rem; */
    font-size: min(8vw, 3.6rem);
}

p {
    font-size: 1rem;
}

button {
    all: unset;
    background-color: var(--variante-primario);
    color: white;
    width: max-content;
    padding: .9rem 1.6rem;
    border-radius: .5rem;
    
}

.section {
    min-height: 99vh;
    height: 99vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1.2rem;
    /* todas que no sean icon-arrow */
    img:not(.icon-arrow) { 
        width: 40%;
        min-width: 340px;
        margin-right: 1rem;
    }
}

.section-reverse {
    flex-wrap: wrap-reverse;
}

.column {
    height: 50%;
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.testimonios {
    min-height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.contain-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.card {
    width: clamp(220px, 30%, 380px);
    min-width: 260px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--vp-5);
    border-radius: .85rem;
    box-shadow: 0px 3px 5px 1.5px var(--grises-5);
    img {
        object-fit: contain;
    }
    p, h4 {
        text-align: center;
    }
}

.icon-arrow {
    width: 1.3rem;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.center h2,
.center h4,
.center img,
.center button,
.center p {
    margin: 0 auto;
}

@media (min-width: 782px) {
    .section {
        justify-content: space-evenly;
    }

    .center {
        text-align: start;
    }

    .center h2,
    .center h4,
    .center img,
    .center button,
    .center p {
        margin: 0;
    }

    .icon-arrow {
        rotate: -90deg;
        margin-left: 2rem;
        position: relative;
        left: 1.5rem;
    }

    main section:last-child {
        display: flex;
    } 

    .testimonios {
        justify-content: space-evenly;
    }

    .contain-card {
        flex-direction: row;
    }
}