*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@300;400;600;700&display=swap');

:root {
    /* Colores principales */
    --primario: #0A2FF1;
    --variante-primario: #04146C;
    --secundario: #3FFFF3;

    /* Escala de grises */
    --grises-1: #15163D;
    --grises-2: #414166;
    --grises-3: #71718D;
    --grises-4: #9797AE;
    --grises-5: #C5C5CD;
    --grises-6: #EEEEEE;
    --grises-7: #F8F8F8;

    /* Variaciones del primario */
    --vp-1: #3957F1;
    --vp-2: #5974FF;
    --vp-3: #8A9AF1;
    --vp-4: #C9D1FF;
    --vp-5: #EFF2FF;
    --vp-6: #EDF7FF;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle at -221px -324px, var(--vp-2) 38%, var(--grises-7) 55%);
    background-attachment: fixed;
    
    /* Previene el scroll horizontal */
    overflow-x: hidden; 
}

header {
    transition: all 0.3s ease-in-out;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: .5rem .5rem 8rem .1rem var(--grises-6);
    background-color: var(--grises-7);
    z-index: 20;
    animation: animate__fadeInDown 0.5s; /* Animacion de Animate.css */
} 

.options {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    padding: 3.2rem 1rem 1rem;

    position: absolute;
    top: -11px;
    right: 0;
    bottom: 0;

    height: max-content;
    width: 100%;

    align-items: start;
    background-color: var(--grises-7);

    li {
        display: inline-block;
        width: 100%;
        text-align: left;
        margin-right: auto;
    }

    a {
        width: fit-content;
        display: inline-block;
        text-align: left;
        margin-left: auto;
        position: relative;
        padding-bottom: 3.5px;
        cursor: pointer;
        white-space: nowrap;
    }
}

/* clase con display none y flex, para usar con js */
.dn {
    display: none;
}

.df {
    display: flex;
}

.button-close {
    position: absolute;
    top: .6rem;
    right: 1rem;
    z-index: 30;
}

nav {
    margin: 0.7rem;
    padding: .3rem 1.5rem .3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        img {
            width: 45px;
        }
    }   
}

li {
    list-style: none;
    height: max-content;
    margin: auto;
}

a {
    all: unset;
    gap: 1rem;
}

main {
    margin: 1.7rem 2.8rem 0;
}

main section:last-child {
    display: none;
} 

h2, h1 {
    font-weight: 700;
    font-size: min(10vw, 3.6rem);
}

h4 {
    font-weight: 400;
    font-size: 1.2rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
}

button {
    all: unset;
    background-color: var(--variante-primario);
    color: var(--grises-7);
    width: max-content;
    padding: .9rem 1.6rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

button:hover {
    background-color: var(--primario);
}

button:active {
    background-color: var(--variante-primario); /* Vuelve al color original al presionar */
    transform: scale(0.98); /* Da un pequeño efecto de "hundimiento" */
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

/* para boton de menu hamburguesa */
nav button {
    all: unset;
    cursor: pointer;
    padding: 0;
    color: var(--variante-primario);
    i {
        font-size: 2rem;
        /* para agregar grosor a los iconos */
        -webkit-text-stroke: 2px currentColor; /* Agrega un borde sólido */
    }
}

nav button:hover {
    background-color: rgb(0, 0, 0, 0);
    color: var(--primario);
}

/* visibility: hidden o visible ---> que se vea o no */
/* pointer-events: all o none   ---> que atienda eventos o no */
/* z-index: por encima o no     ---> para que no estorbe, si no se ve y no hace nada */
.btn-up {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: .6rem .8rem;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    i {
        font-size: 12px;
        -webkit-text-stroke: 1px currentColor;
    }
}

.btn-up.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.section {
    min-height: 99vh;
    height: 99vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1.2rem;
    /* todas que no sean icon-arrow */
    img:not(.icon-arrow) { 
        width: 40%;
        min-width: 340px;
        margin-right: 1rem;
    }
}

.section-reverse {
    flex-wrap: wrap-reverse;
}

.section:last-of-type {
    display: none;
}

.column {
    height: 50%;
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.testimonios {
    min-height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.contain-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.card {
    position: relative;
    width: clamp(280px, 30%, 360px);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-center;
    align-items: center;
    gap: 1rem;
    /* padding: 1rem; */
    background-color: var(--vp-5);
    border-radius: .85rem;
    box-shadow: 0px 3px 5px 1.5px var(--grises-5);
    img {
        object-fit: contain;
    }
    p, h4 {
        text-align: center;
    }
    font-weight: 400;
    p {
        font-weight: 300;
    }

    overflow-y: hidden;

    /* para que sus hijos div no se les vea la parte de atras */
    /* front y back serian, la card en si y el back seria .contact-card */
    div {
        backface-visibility: hidden;
        transition: transform .4s linear;
    }
}

.contact-card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, var(--grises-7) 0%, var(--vp-1) 125%);
    border-radius: .85rem;

    /* transform: translateY(100%);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: linear; */
    /* 
    transition-delay
    transition-duration
    transition-property
    transition-timing-function 
    
    shorthand
    transition: propiedad duración timing-function delay;
    */
}

/* transicion de abajo hacia arriba */
/* .card:hover .contact-card {
    transform: translateY(0);
} */

.back {
    transform: rotateY(180deg);
}
.front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    img {
        object-fit: contain;
    }
    p, h4 {
        text-align: center;
    }
    font-weight: 400;
    p {
        font-weight: 300;
    }


    transform: rotateY(0deg);
}
.card:hover .back {
    transform: rotateY(360deg);
}
.card:hover .front {
    transform: rotateY(180deg);
}

.icon-arrow {
    width: 1.3rem;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.center h2,
.center h4,
.center img,
.center button,
.center p {
    margin: 0 auto;
}

footer p {
    background-color: var(--grises-1);
    color: var(--grises-7);
    margin: 0;
    padding: .5rem .5rem 2rem;
    text-align: center;
}

.contain-footer {
    display: flex;
    flex-flow: column;
    
    gap: 3.5rem 5rem;
    margin-top: 4rem;
    padding: 2.8rem 4rem 2.2rem;
    
    background-color: var(--grises-1);
    color: var(--grises-7);
    
    font-size: 1rem;
    font-weight: 300;
}

.section-footer {
    display: flex;
    flex-flow: column;
    gap: 2.4rem;
    
    p {
        font-weight: 700;
        font-size: 1.2rem;  
    }
}

.link {
    cursor: pointer;
    position: relative; /* relative, por que sino no aplica bien el subrayado */
    padding-bottom: 3.5px;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--primario);
    transform-origin: bottom right; /* right para que arranque por izq y se pierda por der, left alrevez */
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* Clase para ocultar elementos antes de la animación */
.animate-on-scroll {
    opacity: 0;
}

.animate__animated {
    opacity: 1 !important;
}

.modal-contact {
    height: 60%;
    width: 80%;
    margin: auto;
    padding: 2rem;

    display: flex; /* no renderiza hasta darle click */ 
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    border: none;
    box-shadow: 0 0 15rem 8rem var(--grises-1);
    border-radius: 1rem;

    /* animacion de entrada */
    /* el display no se puede animar */
    pointer-events: none;
    z-index: -20;
    opacity: 0;
    transition: opacity .35s ease;
}

dialog.modal-contact[open] {
    /* renderiza */
    pointer-events: all;
    z-index: 20;
    opacity: 1;
}

@media (min-width: 782px) {
    .section:last-of-type {
        display: flex;
    }

    nav div {
        width: 180%;
        img {
            width: 70px;
        }
    }

    .options {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 1rem 1rem .3rem;
        
        li, a {
            width: auto;
            text-align: center;
        }
    }

    .button-open {
        display: none;
    } 

    .section {
        justify-content: space-evenly;
    }

    .center {
        text-align: start;
    }

    .center h2,
    .center h4,
    .center img,
    .center button,
    .center p {
        margin: 0;
    }

    .icon-arrow {
        position: relative;
        rotate: -90deg;
        rotate: -90deg;
        left: 1.5rem;
    }

    main section:last-child {
        display: flex;
    } 

    .testimonios {
        justify-content: space-evenly;
    }

    .contain-card {
        flex-direction: row;
    }

    .contain-footer {
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 6.5rem 6.5rem 3.5rem;
        gap: 14rem;
    }

    .btn-up {
        padding: .8rem 1rem;
        right: 1.5rem;
        bottom: 2rem;
        i {
            font-size: 16px;
        }
    }

    .modal-contact {
        padding: 7rem;
        width: 65%;
    }
}